<% zoned = @boundaries.detect {|boundary| boundary.school_id==school.id} %>
<tr class='<%= zoned ? 'zoned' : cycle('odd', 'even') %>' >
  <%= content_tag :td, image_tag("markers/#{zoned ? "school_zoned_icon" : "school_icon"}.png", :style => 'border: none'), :class => 'center' %>	
  <td>
		<%= content_tag(:strong, school.name) %><br/>
	  <%= school.street_address %><br/>
	  <%= school.start_grade.description %> to 
	  <%= school.end_grade.description %>
	</td>
	<%= content_tag :td, "%.1f" % school.distance, :class => 'right' %>	
</tr>