<div id="header">
	<%= content_tag :h1, 'Ottawa Schools' %>
	<%= content_tag :p, 'Enter your home address and find out which schools you are zoned for and your proximity to other schools' %>
	<div id="search">
  	<%= simple_form_for(@address, :url => 'home/search', :remote => true) do |f| %>
  	  <%= f.text_field :full_address, :size => 100, :class => 'capitalized_field' %>
  	  <%= f.submit 'Find My Address', :class => 'button' %>
  	<% end %>
	</div>
</div>

<div id="results">
	<% if @schools %>
	  <table>
		<tr>
      <th/>
			<%= content_tag :th, 'School' %>
			<%= content_tag :th, 'KMs', :class => 'right' %>
		</tr>
		<% for school in @schools do %>
			<%= render :partial => 'school', :locals => {:school => school} %>
		<% end %>
	  </table>
	<% end %>
</div>

<div id="map"> 	  
	<%= raw(GMap.header(:with_vml => false, :host => request.host)) %>
	<%= javascript_include_tag("markerGroup") %>	
	<%= raw(@map.to_html) %>
	<%= raw(@map.div) %>
</div>    

