<%= simple_form_for(@address, :url => 'home/search', :remote => true) do |f| %>
  <%= f.text_field :full_address, :class => 'capitalized_field' %>
  <%= f.submit 'Find My Address', :class => 'button' %>
<% end %>

<div id="map"> 	  
	<%= raw(GMap.header(:with_vml => false, :host => request.host)) %>
	<%= javascript_include_tag("markerGroup") %>	
	<%= raw(@map.to_html) %>
	<%= raw(@map.div) %>
</div>    

<% if @schools %>
  <table>
	<% for school in @schools do %>
		<tr <%= @boundaries.detect {|boundary| boundary.school_id==school.id} ? "class='zoned'" : "" %> >
    		<%= content_tag :td, school.name %>
    		<%= content_tag :td, school.street_address %>
    		<%= content_tag :td, school.start_grade.description %>
    		<%= content_tag :td, school.end_grade.description %>
    		<%= content_tag :td, "%.1f" % school.distance %>
		</tr>
	<% end %>
  </table>
<% end %>