<%= simple_form_for @address, :url => 'home/search', :html => {:method => :post} do |f| %>
  <%= f.text_field :full_address %>
  <%= f.submit 'Find My Address', :class => 'button' %>
<% end %>

<% if @address.ll %>  
  Latitude: <%= @address.latitude %>
  Longitude: <%= @address.longitude %>
<% end %>  

<% if @schools %>
  <table>
	<% for school in @schools do %>
		<tr>
    		<%= content_tag :td, school.name %>
    		<%= content_tag :td, "%.1f" % school.distance %>
		</tr>
	<% end %>
  </table>
<% end %>